body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f000; /* Исправлен цвет фона */
    font-family: Arial, sans-serif; /* Добавим шрифт для текста */
}

h1 {
    color: rgb(255, 123, 0);
    font-size: 40px;
    margin: 0; /* Убираем отступы у заголовка */
}

.container {
    text-align: center;
}

.logo {
    width: 150px; /* Начальный размер логотипа */
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.2); /* Увеличение логотипа при наведении */
}

#stars {
    position: fixed; /* Фон будет фиксированным */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Занимает всю высоту экрана */
    background: rgba(61, 61, 61, 0.5);
    transition: background 0.4s ease-in-out;
    z-index: -1; /* Фон будет позади контента */
}

#stars:hover {
    background: rgba(61, 61, 61, 0.5); /* Более насыщенный цвет при наведении */
}

@media (max-width: 768px) {
    h1 {
        font-size: 30px; /* Уменьшаем размер заголовка на мобильных */
    }

    .logo {
        width: 120px; /* Уменьшаем логотип на мобильных */
    }
}